
<% content_for :head do -%>
  <%= stylesheet_link_tag 'products_page.css' %>
<% end %>

<style type="text/css">

.productshowsect{
  margin-top: 30px;
  margin-bottom: 30px;
}

  .holdtheproduct{
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
border-radius: 10px;
margin-bottom: 20px;
-webkit-transition: box-shadow 0.4s ease-in-out 0s;
-moz-transition: box-shadow 0.4s ease-in-out 0s;
-o-transition: box-shadow 0.4s ease-in-out 0s;
-ms-transition: box-shadow 0.4s ease-in-out 0s;
transition: box-shadow 0.4s ease-in-out 0s; 
  }

  .holdtheproduct:hover{
    -webkit-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.21);
box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.21);
  }
</style>
    <section class="productshowsect">
       <div class="container">
        <div class="row">
          <% @products.each_with_index do |product, i| %>
          <div class="col-lg-3 col-sm-12">
            <div class="holdtheproduct">
              <%= link_to image_tag(product.featured_image(:medium)), product_path(product), title: product.name, class:  'img-fluid' %>
              
              <p style="text-align: center; font-size: 11px; font-weight: 900;" class="">
              <%= link_to '<span><i class="fa fa-eye" style="color: #dc3545;" aria-hidden="true"></i> VIEW PRODUCT</span>'.html_safe, product_path(product), :style => "color: black; font-family: 'Asap Condensed', sans-serif;", :class => "btn" %>
              </p>
            
              <hr>
              <p style="text-align: center;">
              <span style="color: #black; font-size: 15px; font-weight: 900; font-family: 'Asap Condensed', sans-serif;"><%= product.name %></span><br>
              <span style="color: #9a9c9e; font-size: 12px; font-weight: 300; font-family: 'Asap Condensed', sans-serif;"> 
                &#162; <%= product.price_range.first %></span>
              </p>
            </div>
          </div>
           <% end %>
           <%= will_paginate @products %>
        </div>
       </div>
     </section>


